[submodule "public"]
	path = public
	url = git@github.com:forceofsystem/forceofsystem.github.io.git
[submodule "themes/hugo-theme-texify"]
	path = themes/hugo-theme-texify
	url = git@github.com:forceofsystem/hugo-theme-texify.git
