[submodule "public"]
	path = public
	url = git@github.com:forceofsystem/forceofsystem.github.io.git
[submodule "themes/themes/Hugo-Octopress"]
	path = themes/themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
[submodule "themes/Hugo-Octopress"]
	path = themes/Hugo-Octopress
	url = https://github.com/parsiya/Hugo-Octopress
